.nearby-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f3f7f1;
  min-height: 100vh;
}
.distance {
  font-size: 12px;
  color: #84aba4;
  margin-top: 4px;
}

.user-info {
  flex: 1;
}
.address {
  font-size: 12px;
  color: #84aba4;
  margin-top: 4px;
}